<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Disease Prediction</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <h1>Disease Prediction from Images</h1>
        <form id="upload-form">
          <label for="file-input" class="custom-file-upload">
            <span>📁 Choose Image</span>
          </label>
          <input
            type="file"
            id="file-input"
            name="file"
            accept=".png, .jpg, .jpeg"
            required
          />
          <button type="submit">🔮 Predict</button>
        </form>
        <div id="result"></div>
        <div id="output">
          <img id="preview" src="" alt="Uploaded Image" />
          <div id="prediction-result"></div>
        </div>
      </div>
      <footer>
        <p>
          Made with ❤️ by
          <a href="https://github.com/jarjishSiddibapa" target="_blank"
            >Jarjish Siddibapa</a
          >
        </p>
      </footer>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
